<input class="form-control form-control-lg" type="text" placeholder="Large input">
  <!-- <div class="container md-form form-lg">
      <input type="text" id="productSearch" class="form-control form-control-lg" [(ngModel)]="productSearch">
      <label for="inputLGEx">Search for the products</label>
  </div> -->

<input class="form-control form-control-lg" type="text" placeholder="Search for the products" [(ngModel)]="productSearch"> 
  <div class="text-center">
      <button type="button" class="btn btn-primary btn-lg" (click)="compare()">Compare</button>
  </div>

  <div *ngIf='products != null'>
      
      <!-- <pre>{{products | json}}</pre> -->
      <ul *ngFor="let product of products">
          <li *ngIf="product.title != null"> 
          {{ product.title }} ({{ product.id }})
          </li>
      </ul>
  </div>